<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        {%if request.user.profile.profile_pic%}
                        <img src="{{request.user.profile.profile_pic.url}}" class="img-fluid rounded-start" alt="...">
                        {%endif%}

                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{request.user.username}}</h5>
                          <p class="card-text">{{request.user.profile.bio}}</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>